@import "base.css";
@define-color base rgba(0, 0, 0, 0.9);

window#waybar {
  transition: all 0.1s linear;
  background: @base;
}

window#waybar > box {
  margin: 0px;
  padding: 0px;
  border-radius: 4px;
  background: transparent;
}

button {
  border: none;
}

tooltip {
  border-radius: 4px;
  color: @white;
  background: @base;
  border: 1px solid @cyan0;
}

menu {
  color: @white;
  padding: 6px;
  background: @base;
  border-radius: 4px;
  border: 1px solid @blue0;
}
menuitem {
  border-radius: 4px;
  transition: all 0.1s linear;
}

.module {
  margin: 6px 2px;
  padding: 0px 10px;
  border: 0px;
  border-radius: 4px;
  transition: all 0.1s linear;
  color: @base;
}

#custom-rofi {
  padding: 0px 6px;
  margin: 6px 2px;
  color: @cyan0;
  background: transparent
}

#custom-rofi:hover {
  color: @green0;
}

#workspaces {
  padding: 0px;
  margin: 0px;
  background: transparent;
}
#workspaces button {
  margin: 7px 2px;
  padding: 0px;
  transition: all 0.1s linear;
  color: @white;
  border-radius: 4px;
  background: transparent;
}
#workspaces button:hover {
  padding: 0px 5px;
  margin: 7px 2px;
  color: @base;
  background: @green0;
}
#workspaces button.active {
  padding: 0px 5px;
  color: @base;
  background: @cyan0;
}
#workspaces button.urgent {
  padding: 0px 5px;
  color: @base;
  background: @red;
}

#window {
  color: @white;
  background: transparent;
}

#clock {
  background: @purple0;
}

#clock.date {
  background: @orange;
}

#backlight {
  background: @white;
}

#pulseaudio {
  background: @yellow;
}
#pulseaudio.micro {
  background: @teal1;
}

#network {
  background: @teal2;
}
#network.disconnected {
  color: @orange;
}

#cpu {
  background: @purple1;
}

#memory {
  background: @green1;
}

#battery {
  background: @cyan1;
}

#battery.charging, #battery.plugged {
  background: @green0;
}

#battery.critical:not(.charging) {
  background: @red;
}

#power-profiles-daemon {
}

#power-profiles-daemon.performance {
  background: @purple2;
}

#power-profiles-daemon.balanced {
  background: @blue1;
}

#power-profiles-daemon.power-saver {
  background: @green0;
}

#custom-notification {
  margin-right: 8px;
  background: @purple2;
}
