@import "base.css";
@define-color base #000000;

window#waybar {
  transition: all 0.1s linear;
  background: transparent;
}

window#waybar > box {
  margin: 0px;
  padding: 0px 9px;
  background: transparent;
}

button {
  border: none;
}

tooltip {
  border-radius: 0px;
  color: @white;
  background: @base;
  border: 1px solid @cyan0;
}

menu {
  color: @white;
  padding: 6px;
  background: @base;
  border-radius: 0px;
  border: 1px solid @blue0;
}
menuitem {
  border-radius: 0px;
  transition: all 0.1s linear;
}

.modules-center, .modules-right {
  background: @base;
  padding: 0px 4px;
  margin: 4px 0px 0px 0px;
}
.modules-left {
  background: transparent;
  padding: 0px;
  margin: 4px 0px 0px 0px;
}

.module {
  margin: 0px;
  border-radius: 0px;
  padding: 0px 8px;
  background: @base;
  transition: all 0.1s linear;
}

#custom-rofi {
  color: @cyan0;
  padding: 0px 6px 0px 10px;
}

#custom-rofi:hover {
  color: @green0;
}

#workspaces {
  padding: 0px 4px;
  margin: 0px 4px 0px 0px;
}
#workspaces button {
  margin: 6px 0px;
  padding: 0px 2px;
  border-radius: 0px;
  transition: all 0.1s linear;
  color: @white;
  background: transparent;
}
#workspaces button:hover {
  margin: 6px 2px;
  padding: 0px 5px;
  color: @base;
  background: @green0;
}
#workspaces button.active {
  padding: 0px 5px;
  color: @base;
  background: @cyan0;
}
#workspaces button.urgent {
  padding: 0px 5px;
  color: @base;
  background: @red;
}

#window {
  color: @white;
  padding: 0px 8px;
}

#clock {
  color: @purple0;
}

#clock.date {
  color: @orange;
}

#backlight {
  color: @white;
}

#pulseaudio {
  color: @yellow;
}
#pulseaudio.micro {
  color: @teal1;
}

#network {
  color: @teal2;
}
#network.disconnected {
  color: @orange;
}

#cpu {
  color: @purple1;
}

#memory {
  color: @green1;
}

#battery {
  color: @cyan1;
}

#battery.charging, #battery.plugged {
  color: @green0;
}

#battery.critical:not(.charging) {
  color: @red;
}

#power-profiles-daemon.performance {
  color: @purple2;
}

#power-profiles-daemon.balanced {
  color: @blue1;
}

#power-profiles-daemon.power-saver {
  color: @green0;
}

#custom-notification {
  color: @purple2;
}
