@define-color yellow #FFFF00;
@define-color orange #FF7F00;
@define-color red    #FF0000;
@define-color white  #FFFFFF;
@define-color base   #000000;

@define-color green0 #00FF00;
@define-color green1 #AAFF00;

@define-color purple0 #FF00FF;
@define-color purple1 #A136FF;
@define-color purple2 #FF0094;

@define-color teal0 #00FF99;
@define-color teal1 #36E099;
@define-color teal2 #B4FFD7;

@define-color blue0 #0000FF;
@define-color blue1 #007DFF;

@define-color cyan0 #00FFFF;
@define-color cyan1 #00FFD7;

* {
  font-family: CodeNewRoman Nerd Font Propo;
  font-size: 14px;
  font-weight: 400;
  min-height: 0;
  box-shadow: none;
  text-shadow: none;
}
