@define-color yellow rgba(224, 175, 104, 1);
@define-color orange rgba(255, 158, 100, 1);
@define-color rose rgba(247, 118, 142, 1);
@define-color smoke rgba(192, 202, 245, 1);

@define-color green0	rgba(158, 206, 106, 1);
@define-color green1	rgba(69, 235, 69, 1);

@define-color purple0 rgba(154, 126, 204, 1);
@define-color purple1 rgba(187, 154, 247, 1);

@define-color teal0 rgba(74, 186, 175, 1);
@define-color teal1 rgba(115, 218, 202, 1);
@define-color teal2 rgba(180, 249, 248, 1);

@define-color blue0 rgba(122, 162, 247, 1);
@define-color blue1 rgba(0, 166, 244, 1);

@define-color cyan0 rgba(42, 195, 222, 1);
@define-color cyan1 rgba(125, 207, 255, 1);

@define-color base rgba(1, 2, 3, 0.9);

* {
    font-family: CodeNewRoman Nerd Font Propo;
    font-size: 14px;
    font-weight: 400;
    min-height: 0;
    box-shadow: none;
    text-shadow: none;
}

window#waybar {
    transition: all 0.15s ease-in;
    background: @base;
}

window#waybar > box {
    margin: 0px;
    padding: 0px;
    border-radius: 0px 0px 16px 16px;
    background: transparent;
}

button {
    border: none;
}

tooltip {
    border-radius: 12px;
    color: @smoke;
    background: @base;
    border: 1px solid @blue0;
}

menu {
	  color: @smoke;
    padding: 6px;
	  background: @base;
	  border-radius: 12px;
    border: 1px solid @blue0;
}
menuitem {
	  border-radius: 12px;
    transition: all 0.15s ease-in;
}

.module {
    margin: 3px 2px;
    border-radius: 12px;
    padding: 0px 6px;
    transition: all 0.15s ease-in;
}

#custom-rofi {
    padding-left: 15px;
    color: @cyan0;
}

#custom-rofi:hover {
    color: @green1;
}

#workspaces {
    padding: 0px 5px;
}
#workspaces button {
    padding: 0px 1px;
    border-radius: 8px;
    transition: all 0.15s ease-in;
    color: @smoke;
}
#workspaces button:hover {
    margin: 4px 1px;
    padding: 0px 5px;
    color: @base;
    background: @green0;
}
#workspaces button.active {
    margin: 4px 1px;
    padding: 0px 5px;
    color: @base;
    background: @blue0;
}
#workspaces button.urgent {
    margin: 4px 1px;
    padding: 0px 5px;
    color: @base;
    background: @orange;
}

#window {
    color: @smoke;
    background: transparent;
}

#clock {
    color: @orange;
}

#clock.date {
    color: @cyan0;
}

#backlight {
    color: @smoke;
}

#pulseaudio {
    color: @yellow;
}
#pulseaudio.micro {
    color: @teal1;
}

#network {
    color: @teal2;
}
#network.disconnected {
    color: @orange;
}

#cpu {
    color: @purple1;
}

#memory {
    color: @green0;
}

#battery {
    color: @cyan1;
}

#battery.charging, #battery.plugged {
    color: @green1;
}

#battery.critical:not(.charging) {
    color: @rose;
}

#power-profiles-daemon {
}

#power-profiles-daemon.performance {
    color: @rose;
}

#power-profiles-daemon.balanced {
    color: @blue1;
}

#power-profiles-daemon.power-saver {
    color: @green0;
}

#custom-notification {
    padding-right: 15px;
    color: @rose;
}
